---
layout: default
---

<p>Control, discipline, flexibility, balance and self-defence: learning a martial art teaches you all of these things in
  body, mind and soul.</p>

<p>The Bath branch of <a href="{{site.baseurl}}/about#wutan">Wutan</a> &dash; a traditional school of Chinese martial
  arts &dash; teaches different
  martial arts such as <a href="{{site.baseurl}}/about#tai-chi">Tai Chi</a> (short for T&apos;ai Chi Ch&apos;uan) and <a
    href="{{site.baseurl}}/about#kung-fu">Kung Fu</a>, along with <a href="{{site.baseurl}}/about#qigong">Qigong</a> (or
  Chi
  Kung) and some other forms that are suitable for everyone.</p>

<p>At <a href="{{site.baseurl}}/about#wutan-bath">Wutan Bath</a>, beginners are always welcome to any class, but there
  are some <a href="{{site.baseurl}}/classes">classes</a> specifically tailored to
  beginners.
  <a href="{{site.baseurl}}/contact">Contact</a> the instructors for more information about when new beginner classes
  will start.
</p>

<blockquote>
  The first goal of Martial Arts training is to harmonize the body and spirit as one unit.
  <br />
  <span><i>Path of the Complete Martial Artist</i>, by They Soon Taun (Wutan Kung Fu International)</span>
</blockquote>

<div class="posts">
  <h3>Latest news</h3>
  {% for post in paginator.posts %}
  <article class="post">
    <a href="{{ site.baseurl }}{{ post.url }}">
      <h4>{{ post.title }}</h4>

      <div>
        <p class="post_date">{{ post.date | date: "%B %e, %Y" }}</p>
      </div>
    </a>
    <div class="entry">
      {{ post.excerpt }}
    </div>

    <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
  </article>
  {% endfor %}

  <!-- pagination -->
  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% else %}
    <span>&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
    <span class="webjeda">{{ page }}</span>
    {% elsif page == 1 %}
    <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
    <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page
      }}</a>
    {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% else %}
    <span>Next &raquo;</span>
    {% endif %}
  </div>
  {% endif %}
  <a href="{{ site.baseurl }}/archive">News archive</a>
</div>