---
layout: default
---

{{ site.data.page.introduction | markdownify }}

{% include quote.html quote="The first goal of Martial Arts training is to harmonize the body and spirit as one unit."
source="Path of the Complete Martial Artist" author="They Soon Tuan <br /> (Wutan Kung Fu International)" %}

<div class="posts">
  <h3>Latest news</h3>
  {% for post in paginator.posts %}
  <article class="post">
    <a href="{{ post.url | relative_url }}">
      <h4 class="post_date">{{ post.title }}<span> &ndash; {{ post.date | date_to_string: "ordinal", "GB" }}</span></h4>
    </a>
    <div class="entry">
      {{ post.excerpt }}
    </div>

    <a href="{{ post.url | relative_url }}" class="read-more">Read More</a>
  </article>
  {% endfor %}

  <a class="archive" href="{{ '/archive/' | relative_url }}">Archive</a>
</div>
