<p>
  Control, discipline, flexibility, balance: learning a martial art teaches you
  all of these things in body, mind and soul.
</p>

<p>
  With the Bath branch of Wutan, the UK's oldest traditional school of Chinese
  martial arts, you can learn different arts to suit your particular needs and focus.
  Beginners are always welcome in any class, although there are some classes
  specifically tailored to beginners. We also have some classes specifically for
  children.
</p>

<p>
  The Wutan school covers a range of arts that use both internal/meditative and
  external/combatative principles.
</p>

<h2>Tai Chi</h2>

<p>
  Tai Chi is a gentle martial art that improves physical balance and stability
  through slow, flowing movement. It is a primarily non-contact art.
</p>

<p>
  At Wutan Bath we combine it with related arts such as Qi Gung (a more energetic
  series of movements used to get muscles and blood moving freely), Sensing Hands
  (moving with a partner), Hsing I, and Pa Gua (circle-walking) to give you a fully-rounded
  education.
</p>

<h2>Kung Fu</h2>

<p>
  Wutan Kung Fu covers aspects of Wing Chun and Chai Lei Fut. While you might
  not recognise the names, you will almost certainly have heard of the Five Animals
  styles of Chai Lei Fut, and Wing Chun is the art that started Bruce Lee's career.
</p>

<p>
  Wutan Bath's Kung Fu classes include Chai Lei Fut, Wing Chun Preying Mantis
  style and Chinese Kickboxing.
</p>
