<div class="row">
  <div class="col-12">
    <p>
      Control, discipline, flexibility, balance: learning a martial art teaches you
      all of these things in body, mind and soul.
    </p>

    <p>
      With the Bath branch of Wutan, the UK's oldest traditional school of Chinese
      martial arts, you can learn different arts to suit your particular needs and focus.
      Beginners are always welcome in any class, although there are some classes
      specifically tailored to beginners. We also have some classes specifically for
      children.
    </p>

    <p>
      The Wutan school covers a range of arts that use both internal/meditative and
      external/combatative principles, in particular Tai Chi and Kung Fu - you can 
      read more about these on the <%= link_to 'About page', about_path %>.
    </p>

    <h2>Class News</h2>

    <p>
      New Beginner's class for Dave's Wednesday night Yang-Style Tai Chi starts on the 11th
      of September - more details on the Classes page.
    </p>
  </div>
</div>