---
---

//
// IMPORTS
//

@import "reset";
@import "variables";

/**************/
/* BASE RULES */
/**************/

@import url('https://fonts.googleapis.com/css?family=Roboto');

$background-color: #b8eafc;
$accent-color: #2b809e;

html {
  font-size: 100%;
  height: 100%;
}

body {
  background-image: url('images/wutan_bg.webp');
  background-color: $darkGreen;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: -system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: black;
  line-height: 1.7;
  font-weight: 400;
  font-size: 18px;
  height: 100%;

  @media print {
    background: none;
  }
}

.container {
  background-color: rgba(255, 255, 255, 0.85);
  margin: 0 auto;
  max-width: 740px;
  padding: 5px 30px;
  width: 100%;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;
  text-align: center;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;

  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

@media (min-width: 769px) {

  .post h2::before,
  .post h2::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 46px;
    height: 1px;
    background: rgb(192, 211, 218);
    margin: 0px 30px;
  }
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: #222;
}

p {
  margin: 15px 0;
  text-align: justify;
}

table {
  padding: 0;
}

table tr {
  border-top: 1px solid #cccccc;
  background-color: white;
  margin: 0;
  padding: 0;
}

table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

table tr th {
  font-weight: bold;
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}

table tr td {
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}

table tr th :first-child,
table tr td :first-child {
  margin-top: 0;
}

table tr th :last-child,
table tr td :last-child {
  margin-bottom: 0;
}

/*.detailed .entry p:first-of-type:first-letter {
    float: left;
    margin: 0.13em 0.05em 0 -0.05em;
    font-size: 3.333em;
    line-height: 0.75em;
}*/

#search-container {
  text-align: center;
}

#search-input {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 18px;
  background-color: $lightGreen;
}

.share-box {
  font-weight: bold;
  color: #222;
}

span[data-pullquote] {
  display: block;

  @include mobile {
    display: none;
  }
}

span[data-pullquote]:before {
  content: attr(data-pullquote);
  float: right;
  width: 200px;
  margin: 0 0 0.5em 30px;
  padding: 0 -5% 0 0;
  font-size: 1.3em;
  font-style: italic;
  color: $darkGreen;
  text-align: center;
}

blockquote {
  font-size: 1.3em;
  font-style: italic;
  color: $darkGreen;
  text-align: center;
  
  div {
    margin-top: 0.4rem;
    font-size: 1rem;
    line-height: 1.6rem;
    font-style: normal;
    color: #404040;
    text-align: center;
  }
}

a {
  color: $blue;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:active {
    color: $blue;
    text-decoration: underline;
  }
}

ul,
ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul,
ul ol,
ul ul,
ol ol {
  margin: 0;
}

ul ul,
ol ul {
  list-style-type: circle;
}

em,
i {
  font-style: italic;
}

strong,
b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

p>img {
  text-align: center;
  display: block;
  margin: 0 auto;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}

::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 0;
}

.masthead {
  padding: 20px 0 0 0;

  @include mobile {
    text-align: center;
  }
}

.logo-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  @include mobile {
    flex-direction: column;
  }
}

.site-avatar {
  width: 150px;
  height: 150px;
  margin-right: 15px;

  @include mobile {
    display: block;
    margin: 0 auto;
  }  

  img {
    border-radius: 5px;
  }  
}  

.site-info {
  @include mobile {
    display: block;
    margin: 12px auto;
  }
}

.site-info hr {
  margin: 0 1rem 1rem 1rem;
  border-color: $darkGray;
}

.site-name {
  margin: 1rem 0 0 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 600;
  font-size: 36px;
  letter-spacing: 1px;
  text-align: left;

  @include mobile {
    text-align: center;
    margin: 0;
  }
}

.site-description {
  margin: -10px 0 0 6px;
  color: $black;
  font-size: 18px;
  text-align: center;
}

nav {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: $white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-top: 1px $gray solid;
  border-bottom: 1px $gray solid;

  font-family: $helveticaNeue;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
    }
  }
}

//
// .main
//

.posts>.post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    /*border-left: 2px solid $gray;*/
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
    background-color: #ede1ff;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-container {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.wrapper-main {
  flex: 1;
  display: flex;
  flex-direction: column;

  .container {
    flex: 1;
    padding-bottom: 2rem;
  }
}

.wrapper-footer {
  bottom: 0;
  width: 100%;
}

footer {
  padding: 20px 0;
  text-align: center;
}

#bar {
  background: #000;
  height: 7px;
  background-size: cover;
  background-position: left 60%;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1000;
}

.post h1 {
  font-family: -system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-align: center;
  font-weight: bold;
  font-kerning: auto;
  font-feature-settings: "kern", "liga", "dlig", "hlig", "cswh";
  line-height: 1.2;
}

.page h1 {
  font-family: -system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-align: center;
  font-weight: bold;
  font-kerning: auto;
  font-feature-settings: "kern", "liga", "dlig", "hlig", "cswh";
  line-height: 1.2;
}

.author_title {
  text-align: center;
  color: $darkGray;
  letter-spacing: 2px;
}

.post_date {
  font-weight: normal;
}

/* --------------------------------

Modules - reusable parts of our design

-------------------------------- */

.post-tags {
  text-align: center;
  line-height: 35px;
}

.post-tags a {
  font-size: 14.5px;
  padding: 2px 13px;
  border: none;
  background-color: #4CAF50;
  border-radius: 50px;
  color: #fff;
}

.pagination a,
.pagination span {
  padding: 7px 18px;
  border: 1px solid #eee;
  margin-left: -2px;
  margin-right: -2px;
  background-color: #ffffff;
  display: inline-block;
}

.pagination a {
  &:hover {
    background-color: #f1f1f1;
    color: #333;
  }
}

.pagination {
  text-align: center;
}

.gallery-wrapper {
  display: grid; 
  grid-auto-rows: auto; 
  grid-template-columns: 1fr; 
  gap: 1em 1em; 
  justify-content: space-evenly; 
  align-content: space-evenly; 
  justify-items: center; 
  align-items: center; 

  @media (min-width: 800px) {
    grid-template-columns: 1fr 1fr; 
  }

  .gallery-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.banner {
  width: 100%;
  padding: 1rem;
  border: 1px solid black;
  background-color: white;
  text-align: center;
}

@import "svg-icons";