---
---

//
// IMPORTS
//

@import "reset";
@import "variables";

/**************/
/* BASE RULES */
/**************/

@import url('https://fonts.googleapis.com/css?family=Roboto');

$background-color: #b8eafc;
$accent-color: #2b809e;

html {
  font-size: 100%;
  height: 100%;
}

body {
  background-image: url('images/wutan_bg.webp');
  background-color: $darkGreen;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: -system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: black;
  line-height: 1.7;
  font-weight: 400;
  font-size: 18px;
  height: 100%;

  @media print {
    background: none;
  }
}

.container {
  background-color: rgba(255, 255, 255, 0.80);
  margin: 0 auto;
  max-width: 740px;
  padding: 5px 30px;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;
  text-align: center;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;

  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

@media (min-width: 769px) {

  .post h2::before,
  .post h2::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 46px;
    height: 1px;
    background: rgb(192, 211, 218);
    margin: 0px 30px;
  }
}

h3 {
  font-size: 20px;
  text-align: left;
}

h4 {
  font-size: 18px;
  text-align: left;
  color: #222;
}

p {
  margin: 15px 0;
  text-align: justify;
}

#search-container {
  text-align: center;
}

#search-input {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid $lightGray;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 18px;
  background-color: $lightGreen;
}

.quote {
  background-color: rgba($darkGreen, 50%);
  width: 100%;
  margin: 2rem 0;

  blockquote {
    display: block;
    color: $white;
    text-align: center;
    font-size: 0.9rem;
    font-style: italic;
    margin: 1rem auto;
    padding: 1rem 0.5rem;
    width: 50%;

    @include mobile {
      width: 100%;
    }

    cite {
      margin-top: 0.4rem;
      margin-bottom: 1.5rem;
      font-size: 0.7rem;
      font-style: normal;
      color: $lightGreen;
      text-align: center;

      ::before {
        content: '\a';
        white-space: pre;
      }
    }
  }
}

a {
  color: $blue;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:active {
    color: $blue;
    text-decoration: underline;
  }
}

ul,
ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul,
ul ol,
ul ul,
ol ol {
  margin: 0;
}

ul ul,
ol ul {
  list-style-type: circle;
}

em,
i {
  font-style: italic;
}

strong,
b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

p>img {
  text-align: center;
  display: block;
  margin: 0 auto;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}

::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 0;
}

.masthead {
  padding: 20px 0 0 0;

  @include mobile {
    text-align: center;
  }
}

.logo-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;

  @include mobile {
    flex-direction: column;
  }
}

.site-avatar {
  width: 150px;
  height: 150px;
  margin-right: 15px;

  @include mobile {
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  @include mobile {
    display: block;
    margin: 12px auto;
  }
}

.site-info hr {
  margin: 1rem 0 -0.5rem;
  border-color: $darkGray;
}

.site-name {
  margin: 1.5rem 0 0 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 600;
  font-size: 36px;
  letter-spacing: 1px;
  text-align: left;

  @include mobile {
    text-align: center;
    margin: 0;
  }
}

.site-description {
  color: $black;
  font-size: 18px;
  text-align: center;
}

nav {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  background-color: $white;
  padding: 0.5rem 2rem;
  border-top: 1px $gray solid;
  border-bottom: 1px $gray solid;

  font-family: $helveticaNeue;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    color: $darkGray;
    text-align: center;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 0 0.3rem;

    @include mobile {
      padding: 0 0.8rem;
    }
  }
}

//
// .main
//

.posts {
  margin-top: 6rem;

  &>.post:last-child {
    padding-bottom: 1em;
    border-bottom: none;
  }

  >.archive {
    display: block;
    margin-top: 2rem;
  }
}

.post {
  blockquote {
    margin: 1.8em .8em;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
    background-color: #ede1ff;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-container {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.wrapper-main {
  flex: 1;
  display: flex;
  flex-direction: column;

  .container {
    flex: 1;
    padding-bottom: 2rem;
  }
}

.wrapper-footer {
  bottom: 0;
  width: 100%;

  .container {
    background-color: rgba($darkGreen, 50%);
  }
}

footer {
  padding: 1.4rem 0;
  text-align: center;
  color: $white;
  font-size: small;
}

#bar {
  background: #000;
  height: 7px;
  background-size: cover;
  background-position: left 60%;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1000;
}

.post h1 {
  font-family: -system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-align: center;
  font-weight: bold;
  font-kerning: auto;
  font-feature-settings: "kern", "liga", "dlig", "hlig", "cswh";
  line-height: 1.2;
}

.page h1 {
  font-family: -system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-align: center;
  font-weight: bold;
  font-kerning: auto;
  font-feature-settings: "kern", "liga", "dlig", "hlig", "cswh";
  line-height: 1.2;
}

.author_title {
  text-align: center;
  color: $darkGray;
}

.post_date {
  font-weight: normal;
  font-style: italic;
}

/* --------------------------------

Modules - reusable parts of our design

-------------------------------- */

.post-tags {
  text-align: center;
  line-height: 35px;

  a {
    font-size: 14.5px;
    padding: 2px 13px;
    border: none;
    border-radius: 50px;
    color: $white;
    background-color: $black;

    &[data-category="Site"] {
      background-color: #4CAF50;
    }

    &[data-category="Classes"] {
      background-color: #1825bc;
    }

    &[data-category="Journey"] {
      background-color: #5b0606;
    }

    &[data-category="History"] {
      background-color: #5b099a;
    }
  }
}

.pagination a,
.pagination span {
  padding: 7px 18px;
  border: 1px solid #eee;
  margin-left: -2px;
  margin-right: -2px;
  background-color: #ffffff;
  display: inline-block;
}

.pagination a {
  &:hover {
    background-color: #f1f1f1;
    color: #333;
  }
}

.pagination {
  text-align: center;
}

.class-container {
  margin-top: 2.5rem;

  &:first-of-type {
    margin-top: auto;
  }
}

.gallery-wrapper {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 1fr;
  gap: 1em 1em;
  justify-content: space-evenly;
  align-content: space-evenly;
  justify-items: center;
  align-items: center;

  @media (min-width: 800px) {
    grid-template-columns: 1fr 1fr;
  }

  .gallery-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    .gallery-image-bg {
      display: flex;
      height: 20rem;
      width: 100%;
      align-items: center;
      justify-content: center;
      background-color: rgba($darkGreen, 50%);

      img {
        max-height: 20rem;
      }
    }

    figcaption {
      text-align: center;
    }
  }
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.banner {
  width: 100%;
  padding: 1rem;
  border: 1px solid black;
  background-color: white;
  text-align: center;
}

.jump-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgba($darkGreen, 50%);
  width: 100%;

  a {
    display: block;
    margin: 0 1rem;
    color: $white;
  }
}

img[src$="#left"] {
  float: left;
  margin: 0.5rem 1rem 1rem 0;
  max-width: 10rem;
}

img[src$="#right"] {
  float: right;
  margin: 0.5rem 0 1rem 1rem;
  max-width: 10rem;
}

@import "svg-icons";