<h2><%= t('.title') %></h2>
<p>We don't have a gallery on the website yet, but you can always check out the photos on our <%= link_to 'Facebook Page', 'https://www.facebook.com/pg/Wutanbath/photos/' %> in the meantime.</p>
