<h2><%= t('.title-wutan') %></h2>

<p>
  The Wutan school started in China in 1966 under the auspices of Grand Master
  Liu Yun Qiao; one of his disciples, Master Wu Song Fa, in turn taught Sifu
  They Soon Tuan who founded the UK branch of the school in 1977. It is currently
  the largest martial arts school in the UK.
</p>

<p>
  The Wutan school covers a range of martial arts such as Tai Chi, Bagua, Hsing I,
  Chai Lei Fut, Wing Chun and Kickboxing. All arts cover both internal/meditative
  and external/combatative features.
</p>

<p>
  To find out more about the Wutan school as a whole, check out the
  <%= link_to 'Wutan website', 'http://www.wutan.biz/' %>.
</p>

<h2><%= t('.title-local') %></h2>

<p>
  The Bath branch of Wutan has been running since 1992, started by David Rutherford.
  We currently have a number of classes covering the Wutan syllabus, most of which
  are beginner-friendly and some tailored to specific ages or levels of physical
  ability.
</p>
