body {
  .page-wrapper {
    border-radius: 5px;
    background-color: $background;
    margin-top: 2em;
    margin-bottom: 2em;

    .main-header {
      display: block;
      text-align: center;
      a {
        color: $font;
        margin: 0.5em;
        font-size: 3em;
        font-family: fantasy;

        @media only screen and (max-width: 600px) {
          margin: 0.1em;
        }
      }
    }

    .nav-item {
      font-size: 1.3em;
    }

    main {
      .details-block {
        border-radius: 5px;
        border: $borders 1px solid;
        margin: 0.5em 0;

        .details-header {
          border-radius: 5px 5px 0 0;
          background-color: $borders;
          color: $highlight;
          padding: 0.7em;
          margin: 0;
        }

        .details-contents {
          padding: 0.5em;

          .details-title {
            font-weight: bold;
          }
        }
      }
    }

    footer {
      margin-top: 1em;
      
      .copyright {
        text-align: center;
        font-style: italic;
        font-size: 0.7em;
      }
    }
  }
}