$background: #b8eafc;
$font: #000000;
$highlight: #e8de05;
$contrast: #04a85b;
$borders: #039dd6;

// FontAwesome fonts
$fa-font-path: "../webfonts";

// Bootstrap overrides
$body-bg: $borders;
$primary: $contrast;
$link-hover-color: $highlight;